@model ebay.ViewModels.Template
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Top Image with Title and Subtitle *@
<div class="row">
        <div id="TopImage">
            <a class="TopImage">
                <span>@Model.Title</span>
                <div class="bg"></div>
            </a>
        </div>
</div>
<div class="row">
    <div class="div-content">
        @foreach (var imageName in Model.Images)
        {
            <img src="http://52.58.241.59/TemplateContent/@Model.NameKey/Images/@imageName" class="floatingImage" />
        }
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @Html.Raw(Model.Part1)
    </div>
</div>
<br />
<div class="row">
        <div id="MiddleImage">
            <a class="MiddleImage">
                <span>@Model.DividerText1</span>
                <div class="bg"></div>
            </a>
        </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @Html.Raw(@Model.Part2)
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @Html.Partial("Posting")
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @Html.Partial("ReturnsPolicy")
    </div>
</div>
